.nemo-window toolbar.horizontal.primary-toolbar {
    padding:0 6px;
}

scrolledwindow.frame.nemo-places-sidebar {
    border:none;
    margin-top:5px;
}

.places-treeview.view,
.places-treeview.view:selected:backdrop {
    padding:3px;
    color:@fg_color;
}

.places-treeview.view:selected {
    color:@bg_color;
}

.nemo-places-sidebar.frame {
    margin-left:-19px
}

.places-treeview {
    -NemoPlacesTreeView-disk-full-bar-width: 0px;
    -NemoPlacesTreeView-disk-full-bar-radius: 0px;
    -NemoPlacesTreeView-disk-full-bottom-padding: 0px
    -NemoPlacesTreeView-disk-full-max-length: 0px;
}

.nemo-window-pane .floating-bar {
    border-color:shade(@borders, 1.4);
}

.nemo-window .nemo-window-pane widget.entry {
    border: 1px solid;
    border-radius: 5px;
    color: @theme_fg_color;
    border-color: alpha (@selected_bg_color, 0.8);
    background-color: @theme_bg_color;
    box-shadow: inset  0px  1px shade(@borders, 1.4),
                inset  1px  0px shade(@borders, 1.4),
                inset -1px  0px shade(@borders, 1.4),
                inset  0px -1px shade(@borders, 1.4);
}

.nemo-window .nemo-window-pane widget.entry:selected {
    border: 1px solid;
    border-radius: 5px;
    color: @theme_selected_fg_color;
    border-color: alpha (@selected_bg_color, 0.8);
    background-color: @theme_selected_bg_color;
    box-shadow: inset  0px  1px shade(@borders, 1.4),
                inset  1px  0px shade(@borders, 1.4),
                inset -1px  0px shade(@borders, 1.4),
                inset  0px -1px shade(@borders, 1.4);
}

.nemo-window .nemo-window-pane widget.entry:backdrop {
    color: @backdrop_text_color;
    border:1px solid #9d9d99;
}
.nemo-window .nemo-window-pane widget.entry:selected:backdrop {
    background-color: #ebebeb;
}

.nemo-window infobar,
.nemo-window infobar.info,
.nemo-window .info {
    background-image:none;
    background:@bg_color;
    border-style: none;
    color: @fg_color;
    box-shadow:none
}