.action-bar {
    background-color: @bg_color;
}

/* .horizontal.linked button:first-child:checked,
.horizontal.linked button:not(first-child):not(last-child):checked, 
.horizontal.linked button:last-child:checked {
    border-width: 1px;
    border-image: none;
    border-color: rgba(10, 10, 10, 0.4);
    margin-top: 1px;
    margin-bottom: 1px;
}

.horizontal.linked button:first-child:checked {
    border-radius: 5px 0 0 5px;
    border-style: solid none solid solid;
    box-shadow: inset 1px 1px shade (@dark_bg_color, 1.4),
                inset -1px 0 shade (@dark_bg_color, 0.9);
}

.horizontal.linked button:not(first-child):not(last-child):checked {
    border-style: solid none solid none;
    box-shadow: inset 1px 1px shade (@dark_bg_color, 1.4),
                inset -1px 0 shade (@dark_bg_color, 0.9);
}

.horizontal.linked button:last-child:checked {
    border-radius: 0 5px 5px 0;
    border-style: solid solid solid none;
    box-shadow: inset 1px 1px shade (@dark_bg_color, 1.4),
                inset -1px 0 shade (@dark_bg_color, 1.4);
} */